body {
}
#artist {
    margin-top:6px;
}

.bio-image {
    width:180px;
    margin-right:10px;
    float:left;
}

#bottom-buttons {
    margin-top:4px;
    width:280px;
}

#titles {
    margin-left:0px;
    margin-bottom:10px;
}

#rp-album-art {
    width:280px;
    height:280px;
}

#info {
    margin-left:10px;
    margin-top:5px;
    height:15px;
    margin-bottom:0px;

}

.artist-image {
    /*height:300px;*/
}

#yes-artist {
    display:none;
    margin-left:10px;
    margin-right:10px;
    margin-left:40px;
    margin-right:40px;
}

.image-container {
    padding:10px;
    width: 350px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color:#bbb;
    float:left;
}

.video-container {
    position:relative;
    padding:10px;
    width: 350px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color:#bbb;
    float:left;
}

#video-title {
    position:absolute;
    bottom:0;
    left:0;
    margin-left:4px;
    margin-bottom:4px;
}

#no-artist {
}

#news-div {
    display:none;
}

.card {
    overflow:hidden;
}
